@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

main{
    min-width: 1200px;
    font-size: 0px;
}

.topic{
    font-size: 42px;
    color: #152A69;
    text-align: center;
}

.breadcrumb{
    border: 3px solid #707070;
    border-radius: 40px;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    margin: auto;
    text-align: center;
    line-height: 33px;
    margin-bottom: 40px;
}

.middle_bn{
    border: 1px solid black;
    width: 1000px;
    height: 360px;
    margin: auto;
    margin-bottom: 60px;
}

.tags_bar{
    width: 1000px;
    height: 100px;
    box-sizing: border-box;
    background-color: #E4E4E4;
    margin: auto;
    margin-bottom: 60px;
    padding: 25px;
    display: flex;
}

.tag1, .tag2, .tag3, .tag4{
    height: 50px;
    background-color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
}

.tag1{
    width: 220px;
}

.tag2{
    width: 240px;
}

.tag3, .tag4{
    width: 150px;
}

.present_tag{
    background-color: #446DA3;
    color: white;
}

.subject_divider{
    width: 1000px;
    height: 50px;
    font-size: 28px;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
}

.line{
    border: 1px solid black;
    width: calc(100% - 320px - 50px);
    height: 0;
    margin-top: 20px;
    margin-left: 50px;
}

.courses_container{
    width: 1000px;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course_card{
    border: 1px solid #2E2E2E;
    width: 300px;
    height: 400px;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    display: block;
}

.course_avatar_block{
    margin-top: 10px;
}

.course_avatar:hover{
    transform: scale(1.05);
    transition: transform 1s ease-out;
}

.course_title{
    font-size: 20px;
}

.course_btn{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 55px;
    background-color: #189EBB;
    margin-top: 40px;
}

.course_btn:hover{
    background-color: #152A69;
    margin-top: 36px;
}

.pagination{
    width: 160px;
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.pagination a{
    text-decoration: none;
}

.present_page, .page{
    border: 1px solid #707070;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
}

.present_page{
    background-color: #152A69;
    color: white;
}