@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

main{
    font-size: 0px;
    text-align: center;
}

.topic{
    font-size: 72px;
    
    margin-top: 120px; 
    color: #152A69;
    text-align: center;
}

h3{
    font-size: 48px;
    color: #189EBB;
    text-align: center;
}

.desctription01{
    margin: 0px 0px 80px 0px;
}

.list_container{
    width: 500px;
    margin: auto;
    text-align: left;
}

li{
    font-size: 18px;
}

.desctription02{
    margin: 80px 0px 160px 0px;
}

@media(max-width:551px){

    .list_container{
        width: 300px;
    }

}