@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";

@media (min-width:1200px){

    a{
        text-decoration: none;
    }

    .lSAction > a.lSPrev, .lSAction > a.lSNext{
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 2.5rem;
        width: 2.5rem;
    }

    .lSAction > a.lSPrev{
        background-image: url('../images/left.png');
    }

    .lSAction > a.lSNext{
         background-image: url('../images/right.png');
    }
    
    .banner{
        width: 100%;
    }
    
    main{
        font-size: 0px;
        text-align: center;
    }
    
    .chapter_1, .chapter_2, .chapter_3, .chapter_4{
        width: 100%;
        position: relative;
    }
    
    .title{
        font-size: 48px;
        color: #152A69;
        margin-top: 160px;
    }
    
    .sub_title{
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-top: -40px;
        margin-bottom: 40px;
    }
    
    .shortcut_card{
        width: 200px;
        height: 270px;
        box-sizing: border-box;
        text-align: center;
        margin-right: 35px;
        display: inline-block;
    }
    
    .shortcut_avatar{
        width: 200px;
        height: 200px;
    }
    
    .botton_area{
        position: relative;
    }
    
    .shortcut_btn{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #152A69;
        padding: 5px;
        position: relative;
        color: #ffffff;
        font-size: 24px;
        left: 20px;
        top: 10px;
        z-index: 1;
    }
    
    .button_decoration{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 2px solid black;
        position: relative;
        top: -35px;
        left: 25px;
    }
    
    .service_container_bg{
        height: 600px;
        background-color: #189EBB;
        position: relative;
        z-index: 0;
    }
    
    .service_container{
        width: 1200px;
        height: 600px;
        background-color: #189EBB;
        font-size: 0px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }
    
    .service_img_block{
        width: 300px;
        height: 300px;
        position: relative;
    }
    
    .service_img_mask{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .8);
        opacity: 0;
    }
    
    .service_mask_text_left{
        font-size: 28px;
        color: white;
        position: absolute;
        left: 20px;
        bottom: -5px;
        opacity: 0;
    }
    
    .service_mask_text_right{
        font-size: 28px;
        color: white;
        position: absolute;
        right: 20px;
        top: -5px;
        opacity: 0;
    }
    
    .service_img_block:hover .service_img_mask,.service_mask_text_left,.service_mask_text_right{
        opacity: 1;
    }
    
    .service_text_block, .service_text_block1, .service_text_block2{
        width: 300px;
        height: 300px;
        box-sizing: border-box;
    }
    
    .service_text_block1, .service_text_block2{
        font-size: 16px;
        text-align: left;
        position: relative;
    }
    
    .service_text{
        position: relative;
        top: 45px;
        left: 35px;
        line-height: 30px;
    }
    
    .service_text_block1{
        background-color: #92BECB;
    }
    
    .service_text_block2{
        background-color: #FFFCED;
    }
    
    .yachts_container{
        width: 1200px;
        height: 300px;
        box-sizing: border-box;
        position: relative;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        overflow: visible;
    }
    
    .yacht_card{
        font-size: 16px;
        width: 325px;
        height: 300px;
        box-sizing: border-box;
        text-align: left;
        line-height: 8px;
        position: relative;
        display: inline-block;
    }
    
    .yacht_avatar_block{
        width: 325px;
        height: 193px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .yacht_avatar{
        width: 100%;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .yacht_text_block{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }
    
    .prologue_bg{
        min-width: 1200px;
        height: 450px;
        background-image: url(../images/bg_sand.png);
        z-index: 0;
        margin-bottom: 130px;
    }
    
    .prologue_container{
        width: 1200px;
        height: 450px;
        position: relative;
        margin: auto;
        display: flex;
    }
    
    .prologue_img_block{
        width: 430px;
        height: 350px;
        position: absolute;
        top: 30px;
        left: 60px;
        text-align: center;
    }

    .prologue_bn{
        height: 350px;
    }
    
    .prologue_text_block{
        width: 587px;
        font-size: 18px;
        text-align: left;
        line-height: 20px;
        position: absolute;
        top: 50px;
        left: 530px;
    }
    
    .prologue_btn{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #152A69;
        position: absolute;
        bottom: 40px;
        right: 90px;
    }
    
    .prologue_btn a{
        font-size: 16px;
        color: #ffffff;
    }
    
    .shortcut_btn:hover, .prologue_btn:hover{
        background-color: #135589;
    }
}

@media (min-width:768px) and (max-width:1199px){

    a{
        text-decoration: none;
    }

    .lSAction > a.lSPrev, .lSAction > a.lSNext{
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 2.5rem;
        width: 2.5rem;
    }

    .lSAction > a.lSPrev{
        background-image: url('../images/left.png');
    }

    .lSAction > a.lSNext{
        background-image: url('../images/right.png');
    }

    .large_banner{
        width: 100%;
    }

    .main{
        font-size: 0px;
        text-align: center;
    }

    .chapter_1, .chapter_2, .chapter_3, .chapter_4{
        position: relative;
    }
    
    .title{
        font-size: 48px;
        color: #152A69;
        margin-top: 160px;
    }
    
    .sub_title{
        font-size: 24px;
        line-height: 28px;
        margin-top: -20px;
    }

   .chapter_1{
       width: 768px;
       margin: auto;
        text-align: center;
    }
    
    .shortcut_card{
        width: 200px;
        height: 270px;
        box-sizing: border-box;
        text-align: center;
        margin-right: 35px;
        display: inline-block;
    }
    
    .shortcut_avatar{
        width: 200px;
        height: 200px;
    }
    
    .botton_area{
        position: relative;
    }
    
    .shortcut_btn{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #152A69;
        padding: 5px;
        position: relative;
        color: #ffffff;
        font-size: 24px;
        left: 20px;
        top: 10px;
        z-index: 1;
    }
    
    .button_decoration{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 2px solid black;
        position: relative;
        top: -35px;
        left: 25px;
    }
    
    .service_container_bg{
        width: 100%;
        background-color: #189EBB;
        position: relative;
        margin-top: 80px;
        z-index: 0;
    }
    
    .service_container{
        width: 600px;
        background-color: #189EBB;
        font-size: 0px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }
    
    .service_img_block, .service_text_block1, .service_text_block2{
        width: 300px;
        height: 300px;
        position: relative;
        margin: auto;
    }
    
    .service_img_mask{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .8);
        opacity: 0;
    }
    
    .service_mask_text_left{
        font-size: 28px;
        color: white;
        position: absolute;
        left: 20px;
        bottom: -5px;
        opacity: 0;
        margin
    }
    
    .service_mask_text_right{
        font-size: 28px;
        color: white;
        position: absolute;
        right: 20px;
        top: -5px;
        opacity: 0;
    }
    
    .service_img_block:hover .service_img_mask,.service_mask_text_left,.service_mask_text_right{
        opacity: 1;
    }
    
    .service_text_block, .service_text_block1, .service_text_block2{
        width: 300px;
        height: 300px;
        box-sizing: border-box;
    }
    
    .service_text_block1, .service_text_block2{
        font-size: 16px;
        text-align: left;
        position: relative;
    } 

    .service_title{
        display: inline;
    }
    
    .service_text{
        position: relative;
        top: 45px;
        left: 35px;
        line-height: 30px;
    }
    
    .service_text_block1{
        background-color: #92BECB;
    }
    
    .service_text_block2{
        background-color: #FFFCED;
    }
    
    .yachts_container{
        width: 100%;
        /* height: 300px; */
        box-sizing: border-box;
        position: relative;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        overflow: visible;
    }
    
    .yacht_card{
        font-size: 16px;
        width: 325px;
        height: 300px;
        box-sizing: border-box;
        text-align: left;
        line-height: 8px;
        position: relative;
        display: inline-block;
    }
    
    .yacht_avatar_block{
        width: 325px;
        height: 193px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .yacht_avatar{
        width: 100%;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .yacht_text_block{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }
    
    .prologue_bg{
        width: 100%;
        background-image: url(../images/bg_sand.png);
        z-index: 0;
        margin-bottom: 130px;
    }
    
    .prologue_container{
        position: relative;
        text-align: center;
        display: block;
        padding: 50px 30px;
    }
    
    .prologue_img_block{
        width: 430px;
        height: 350px;
        box-sizing: border-box;
        margin: auto;
    }

    .prologue_bn{
        height: 350px;
    }
    
    .prologue_text_block{
        width: 100%;
        font-size: 18px;
        text-align: left;
        line-height: 20px;
        margin: 80px 0px 30px 0px;
    }
    
    .prologue_btn{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #152A69;
    }
    
    .prologue_btn a{
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .shortcut_btn:hover, .prologue_btn:hover{
        background-color: #135589;
    } 

}

@media (max-width:767px){

    a{
        text-decoration: none;
    }

    .lSAction > a.lSPrev, .lSAction > a.lSNext{
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 2.5rem;
        width: 2.5rem;
    }

    .lSAction > a.lSPrev{
        background-image: url('../images/left.png');
    }

    .lSAction > a.lSNext{
        background-image: url('../images/right.png');
    }

    .large_banner{
        width: 100%;
    }

    .main{
        font-size: 0px;
        text-align: center;
    }

    .chapter_1, .chapter_2, .chapter_3, .chapter_4{
        position: relative;
    }
    
    .title{
        font-size: 48px;
        color: #152A69;
        margin-top: 160px;
    }
    
    .sub_title{
        font-size: 24px;
        line-height: 28px;
        margin-top: -20px;
    }

    .chapter_1{
        width: 100%;
        text-align: center;
        display: block;
    }
    
    .shortcut_card{
        width: 200px;
        height: 300px;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
        margin-top: 50px;
    }
    
    .shortcut_avatar{
        width: 200px;
        height: 200px;
    }
    
    .botton_area{
        position: relative;
    }
    
    .shortcut_btn{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #152A69;
        padding: 5px;
        position: relative;
        color: #ffffff;
        font-size: 24px;
        left: 20px;
        top: 10px;
        z-index: 1;
    }
    
    .button_decoration{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 2px solid black;
        position: relative;
        top: -35px;
        left: 25px;
    }
    
    .service_container_bg{
        width: 100%;
        position: relative;
        margin-top: 80px;
    }
    
    .service_container{
        width: 100%;
        background-color: #189EBB;
        font-size: 0px;
        margin: auto;
        position: relative;
    }
    
    .service_img_block, .service_text_block1, .service_text_block2{
        width: 300px;
        height: 300px;
        position: relative;
        margin: auto;
    }
    
    .service_img_mask{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .8);
        opacity: 0;
    }
    
    .service_mask_text_left{
        font-size: 28px;
        color: white;
        position: absolute;
        left: 20px;
        bottom: -5px;
        opacity: 0;
        margin
    }
    
    .service_mask_text_right{
        font-size: 28px;
        color: white;
        position: absolute;
        right: 20px;
        top: -5px;
        opacity: 0;
    }
    
    .service_img_block:hover .service_img_mask,.service_mask_text_left,.service_mask_text_right{
        opacity: 1;
    }
    
    .service_text_block, .service_text_block1, .service_text_block2{
        width: 300px;
        height: 300px;
        box-sizing: border-box;
    }
    
    .service_text_block1, .service_text_block2{
        font-size: 16px;
        text-align: left;
        position: relative;
    } 

    .service_title{
        display: inline;
    }
    
    .service_text{
        position: relative;
        top: 45px;
        left: 35px;
        line-height: 30px;
    }
    
    .service_text_block1{
        background-color: #92BECB;
    }
    
    .service_text_block2{
        background-color: #FFFCED;
    }
    
    .yachts_container{
        width: 100%;
        /* height: 300px; */
        box-sizing: border-box;
        position: relative;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        overflow: visible;
    }
    
    .yacht_card{
        font-size: 16px;
        width: 325px;
        height: 300px;
        box-sizing: border-box;
        text-align: left;
        line-height: 8px;
        position: relative;
        display: inline-block;
    }
    
    .yacht_avatar_block{
        width: 325px;
        height: 193px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .yacht_avatar{
        width: 100%;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .yacht_text_block{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }
    
    .prologue_bg{
        width: 100%;
        background-image: url(../images/bg_sand.png);
        z-index: 0;
        margin-bottom: 130px;
    }
    
    .prologue_container{
        position: relative;
        text-align: center;
        display: block;
        padding: 50px 30px;
    }
    
    .prologue_img_block{
        width: 430px;
        height: 350px;
        box-sizing: border-box;
        margin: auto;
    }

    .prologue_bn{
        height: 350px;
    }
    
    .prologue_text_block{
        width: 100%;
        font-size: 18px;
        text-align: left;
        line-height: 20px;
        margin: 80px 0px 30px 0px;
    }
    
    .prologue_btn{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #152A69;
    }
    
    .prologue_btn a{
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
    
    .shortcut_btn:hover, .prologue_btn:hover{
        background-color: #135589;
    } 

}
