@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

main{
    min-width: 1200px;
    font-size: 0px;
}

.topic{
    font-size: 42px;
    color: #152A69;
    text-align: center;
}

.breadcrumb{
    border: 3px solid #707070;
    border-radius: 40px;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    margin: auto;
    text-align: center;
    line-height: 33px;
    margin-bottom: 40px;
}

.news_container{
    width: 1200px;
    height: 1950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_block{
    width: 1200px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    font-size: 24px;
    padding: 20px 40px;
    box-shadow: 0px 0px 3px 1px black;
    display: inline-block;
}

.news_title{
    color: #152A69;
    line-height: 0px;
}

p{
    width: 680px;
}

.news_time{
    color: #9C9C9C;
    font-size: 20px;
    line-height: 0px;
}

.news_img_block1, .news_img_block2, 
.news_img_block3, .news_img_block4, 
.news_img_block5{
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-position-y: center;
}

.learn_more_btn{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: #152A69;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 450px;
}

.learn_more_btn:hover{
    background-color: #135589;
}

.news_block a{
    text-decoration: none;
}

.news_img_block1{
    background-image: url(../images/news_img1.png);
}

.news_img_block2{
    background-image: url(../images/news_img2.jpg);
}

.news_img_block3{
    background-image: url(../images/news_img3.jpg);
}

.news_img_block4{
    background-image: url(../images/news_img4.jpg);
}

.news_img_block5{
    background-image: url(../images/news_img5.jpg);
}

.pagination{
    width: 340px;
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.pagination a{
    text-decoration: none;
}

.present_page, .page{
    border: 1px solid #707070;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
}

.present_page{
    background-color: #152A69;
    color: white;
}
