@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

main{
    min-width: 1200px;
    font-size: 0px;
}

.middle_bn{
    border: 1px solid black;
    width: 1000px;
    height: 360px;
    margin: auto;
    margin-bottom: 60px;
}

.tags_bar{
    width: 1000px;
    height: 100px;
    box-sizing: border-box;
    background-color: #E4E4E4;
    margin: auto;
    margin-bottom: 60px;
    padding: 25px;
    display: flex;
}

.tag{
    width: 150px;
    height: 50px;
    background-color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
}

.present_tag{
    background-color: #446DA3;
    color: white;
}

.subject_divider{
    width: 1000px;
    height: 50px;
    font-size: 28px;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
}

.line{
    border: 1px solid black;
    width: 800px;
    height: 0;
    margin-top: 20px;
    margin-left: 50px;
}

.products_container{
    width: 1000px;
    height: 1360px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_card{
    width: 300px;
    height: 420px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.track_and_buy_block{
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    opacity: 0%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
}

.track_block, .buy_block{
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    opacity: 85%;
    padding: 10px;
}

.product_card:hover>.track_and_buy_block{
    opacity: 85%;
    bottom: 120px;
}

.product_information{
    margin-top: 10px;
}

.product_name{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.product_price{
    font-size: 28px;
    color: #9A0303;
    line-height: 10px;
}

.pagination{
    width: 160px;
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.pagination a{
    text-decoration: none;
}

.present_page, .page{
    border: 1px solid #707070;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
}

.present_page{
    background-color: #152A69;
    color: white;
}
