@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

a{
    text-decoration: none;
    color: black;
}

main{
    font-size: 0px;
}

.product_card{
    width: 300px;
    height: 420px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.track_and_buy_block{
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    opacity: 0%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
}

.track_block, .buy_block{
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    opacity: 85%;
    padding: 10px;
    position: relative;
}

.track_block{
    border: 4px solid darkslategrey;
    border-right: none;
}

.buy_block{
    border: 4px solid darkslategrey;
}

.track_btn, .track_btn_click, 
.buy_btn, .buy_btn_click{
    position: absolute;
    top: 20%;
    left: 40%;
}

.track_btn_click, .buy_btn_click{
    opacity: 0;
}

.track_btn_click:hover, .buy_btn_click:hover{
    opacity: 1;
}

.track_btn:hover, .buy_btn:hover{
    opacity: 0;
}

.product_card:hover>.track_and_buy_block{
    opacity: 85%;
    bottom: 120px;
}

.product_information{
    margin-top: 10px;
}

.product_name{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.product_price{
    font-size: 28px;
    color: #9A0303;
    line-height: 10px;
}

.pagination{
    width: 160px;
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.pagination a{
    text-decoration: none;
}

.present_page, .page{
    border: 1px solid #707070;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
}

.present_page{
    background-color: #152A69;
    color: white;
}

@media(min-width:1219px){

    .middle_banner_block{
        border: 1px solid black;
        width: 1000px;
        height: 360px;
        margin: auto;
        margin-bottom: 60px;
    }
    
    .tags_bar{
        width: 1000px;
        height: 100px;
        box-sizing: border-box;
        background-color: #E4E4E4;
        margin: auto;
        margin-bottom: 60px;
        padding: 25px;
        display: flex;
    }
    
    .tag{
        width: 150px;
        height: 50px;
        background-color: white;
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        margin-right: 15px;
    }
    
    .present_tag{
        background-color: #446DA3;
        color: white;
    }

    .tags_for_mobile{
        display: none;
    }
    
    .subject_divider{
        width: 1000px;
        height: 50px;
        font-size: 28px;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        position: relative;
    }
    
    .line{
        border: 1px solid black;
        width: 80%;
        height: 0;
        position: absolute;
        right: 0;
        top: 45%;
    }
    
    .products_container{
        width: 1000px;
        height: 1360px;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media(min-width:768px) and (max-width:1218px){

    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }
    
    .tags_bar{
        width: 100%;
        box-sizing: border-box;
        background-color: #E4E4E4;
        margin-bottom: 60px;
        padding: 25px;
        display: flex;
    }
    
    .tag{
        width: 120px;
        height: 40px;
        background-color: white;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        margin-right: 20px;
    }
    
    .present_tag{
        background-color: #446DA3;
        color: white;
    }

    .tags_for_mobile{
        display: none;
    }

    .tags_for_mobile{
        display: none;
    }

    .subject_divider{
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        font-size: 24px;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        padding: 0px 10px;
    }
    
    .line{
        border: 1px solid black;
        width: 75%;
        height: 0;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .products_container{
        width: 750px;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ._no09{
        display: none;
    }

}

@media(min-width:552px) and (max-width:767px){

    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }

    .tags_bar{
        width: 100%;
        box-sizing: border-box;
        background-color: #E4E4E4;
        font-size: 18px;
        margin-bottom: 60px;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tag{
        display: none;
    }

    .tags_for_mobile select{
        width: 200px;
        height: 40px;
        padding: 5px 10px;
        margin: 0 5px;
    }

    .subject_divider{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        font-size: 20px;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        padding: 0px 10px;
    }
    
    .line{
        border: 1px solid black;
        width: 70%;
        height: 0;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .products_container{
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 60px;
        display: block;
    }
    
    .product_card{
        width: 300px;
        height: 420px;
        box-sizing: border-box;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        margin: auto;
    }

}

@media(max-width:551px){

    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }

    .tags_bar{
        width: 100%;
        box-sizing: border-box;
        background-color: #E4E4E4;
        font-size: 18px;
        margin-bottom: 60px;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tag{
        display: none;
    }

    .tags_for_mobile select{
        width: 200px;
        height: 40px;
        padding: 5px 10px;
        margin: 0 5px;
    }
    
    .subject_divider{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        font-size: 20px;
        margin: auto;
        margin-bottom: 60px;
        display: flex;
        padding: 0px 10px;
    }
    
    .line{
        border: 1px solid black;
        width: 60%;
        height: 0;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .products_container{
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 60px;
        display: block;
    }
    
    .product_card{
        width: 300px;
        height: 420px;
        box-sizing: border-box;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        margin: auto;
    }

}