@import "./common/body.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/cover.css";

a{
    text-decoration: none;
    color: black;
}

main{
    font-size: 0px;
}

.select_title, .checkbox_title{
    font-weight: 500;
}

.yacht_avatar_block{
    overflow: hidden;
}

.yacht_avatar:hover{
    transform: scale(1.1, 1.1);
    transition: transform 1.5s ease-out;
}

.recommended_yacht_title{
    color: #135589;
    line-height: 3px;
}

.recommended_yacht_passengers_block{
    color: black;
    position: absolute;
    right: 0;
    bottom: 60px;
}

.recommended_yacht_text_block_for_mobile{
    display: none;
}

.rightside_yachts_block{
    width: 350px;
    height: 880px;
    box-sizing: border-box;
}

.yacht_card{
    font-size: 16px;
    width: 350px;
    height: 260px;
    text-align: left;
    line-height: 8px;
    position: relative;
    margin-bottom: 50px;
}

.yacht_text_block{
    position: relative;
}

.yacht_title{
    color: #135589;
}

.yacht_tags{
    color: #979797;
}

.yacht_passengers_block{
    position: absolute;
    top: -3px;
    right: 3px;
}

.pagination{
    width: 100px;
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 120px;
}

.pagination a{
    text-decoration: none;
}

.present_page, .page{
    border: 1px solid #707070;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
}

.present_page{
    background-color: #152A69;
    color: white;
}

@media(min-width:1219px){
    
    .middle_banner_block{
        border: 1px solid black;
        width: 1150px;
        height: 360px;
        margin: auto;
        margin-bottom: 60px;
    }
    
    .tags_bar{
        width: 1150px;
        height: 250px;
        background-color: #E4E4E4;
        box-sizing: border-box;
        padding: 20px 50px;
        margin: auto;
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 40px;
    }
    
    select{
        border: 1px solid black;
        width: 200px;
        height: 50px;
        background-color: white;
        font-size: 18px;
        padding: 5px 10px;
        margin: 0 5px;
    }
    
    .checkbox_section{
        display: flex;
        margin-top: 20px;
    }
    
    .checkbox_text{
        font-size: 20px;
    }

    .sub_checkbox{
        width: 750px;
        display: flex;
        flex-wrap: wrap;
    }

    label{
        margin-right: 5px;
    }
    
    .yachts_container{
        width: 1150px;
        height: 880px;
        margin: auto;
    }
    
    .yacht_avatar_block{
        overflow: hidden;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .upper_yachts_block{
        width: 1150px;
        height: 525px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    
    .recommended_yacht_card{
        width: 750px;
        height: 525px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        color: #979797;
        margin-right: calc(100% - 750px - 350px);
    }
    
    .recommended_yacht_title{
        color: #135589;
        line-height: 3px;
    }
    
    .recommended_yacht_passengers_block{
        color: black;
        position: absolute;
        right: 0;
        bottom: 60px;
    }
    
    .rightside_yachts_block{
        width: 350px;
        height: 880px;
        box-sizing: border-box;
    }
    
    .yacht_card{
        font-size: 16px;
        width: 350px;
        height: 260px;
        text-align: left;
        line-height: 8px;
        position: relative;
        margin-bottom: 50px;
    }
    
    .yacht_text_block{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }
    
    .downer_yachts_block{
        width: 750px;
        height: 260px;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

}

@media(min-width:768px) and (max-width:1218px){
    
    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }
    
    .tags_bar{
        width: 100%;
        background-color: #E4E4E4;
        box-sizing: border-box;
        padding: 20px 50px;
        margin: auto;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 30px;
    }

    .tags_container{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    select{
        border: 1px solid black;
        width: 200px;
        height: 50px;
        background-color: white;
        font-size: 18px;
        padding: 5px 10px;
        margin: 0 20px 20px;
        display: block;
    }

    .checkbox_section{
        margin-top: 20px;
        width: 350px;
    }

    .checkbox_block{
        margin-top: 10px;
    }

    .sub_checkbox{
        width: 350px;
    }
    
    .checkbox_text{
        font-size: 20px;
    }

    .sub_checkbox_child{
        margin: 10px 0px;
    }
    
    .yachts_container{
        width: 100%;
        height: 880px;
        margin: auto;
    }
    
    .yacht_avatar_block{
        overflow: hidden;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .upper_yachts_block{
        width: 750px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .recommended_yacht_card{
        width: 700px;
        height: 525px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        color: #979797;
        margin: auto;
    }
    
    .recommended_yacht_title{
        color: #135589;
        line-height: 3px;
    }
    
    .recommended_yacht_passengers_block{
        color: black;
        position: absolute;
        right: 0;
        bottom: 60px;
    }
    
    .rightside_yachts_block{
        border: 1px solid red;
        width: 350px;
        height: 880px;
        box-sizing: border-box;
        display: none;
    }

    .downer_yachts_block{
        width: 720px;
        height: 260px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 100px;
    }
    
    .yacht_card{
        font-size: 16px;
        width: 350px;
        height: 260px;
        text-align: left;
        line-height: 8px;
        position: relative;
        margin-bottom: 50px;
    }
    
    .yacht_text_block{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }

}

@media(min-width:552px) and (max-width:767px){
    
    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }
    
    .tags_bar{
        width: 100%;
        background-color: #E4E4E4;
        box-sizing: border-box;
        padding: 20px 50px;
        margin: auto;
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 30px;
    }

    .tags_container{
        width: 480px;
        margin: auto;
        padding: 0px 20px;
        display: flex;
    }

    select{
        border: 1px solid black;
        width: 150px;
        height: 50px;
        background-color: white;
        font-size: 16px;
        padding: 5px 10px;
        margin: 0 20px 20px;
        display: block;
    }

    .checkbox_section{
        margin-top: 20px;
        width: 270px;
    }

    .checkbox_block{
        margin-top: 10px;
    }

    .sub_checkbox{
        width: 250px;
    }
    
    .checkbox_text{
        font-size: 16px;
    }

    .sub_checkbox_child{
        width: 270px;
        margin: 10px 0px;
    }
    
    .yachts_container{
        width: 100%;
        margin: auto;
    }
    
    .yacht_avatar_block{
        overflow: hidden;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .upper_yachts_block{
        width: 520px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .recommended_yacht_card .yacht_text_block{
        display: none;
    }

    .recommended_yacht_text_block_for_mobile{
        display: block;
    }

    .yacht_avatar_block{
        width: 350px;
        height: 200px;
    }

    .yacht_avatar{
        height: 100%;
    }
    
    .recommended_yacht_title{
        color: #135589;
        line-height: 3px;
    }
    
    .recommended_yacht_passengers_block{
        color: black;
        position: absolute;
        right: 0;
        bottom: 60px;
    }
    
    .rightside_yachts_block{
        border: 1px solid red;
        width: 350px;
        height: 880px;
        box-sizing: border-box;
        display: none;
    }

    .downer_yachts_block{
        width: 520px;
        margin: auto;
        margin-top: 100px;
    }
    
    .yacht_card, .recommended_yacht_card{
        font-size: 16px;
        width: 350px;
        height: 260px;
        text-align: left;
        line-height: 8px;
        position: relative;
        margin: auto;
    }

    .yacht_card{
        margin-bottom: 80px;
    }
    
    .yacht_text_block,
    .recommended_yacht_text_block_for_mobile{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }

}

@media(max-width:551px){
    
    .middle_banner_block{
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .middle_banner{
        width: 100%;
    }
    
    .tags_bar{
        width: 100%;
        background-color: #E4E4E4;
        box-sizing: border-box;
        padding: 20px 10px;
        margin: auto;
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 30px;
    }

    .tags_container{
        width: 300px;
        margin: auto;
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    select{
        border: 1px solid black;
        width: 220px;
        height: 50px;
        background-color: white;
        font-size: 16px;
        padding: 5px 10px;
        margin: 0 20px 20px;
        display: block;
    }

    .checkbox_section{
        margin-top: 20px;
        width: 250px;
    }

    .checkbox_block{
        margin-top: 10px;
    }

    .sub_checkbox{
        width: 350px;
    }
    
    .checkbox_text{
        font-size: 16px;
    }

    .sub_checkbox_child{
        margin: 10px 0px;
    }
    
    .yachts_container{
        width: 100%;
        margin: auto;
    }
    
    .yacht_avatar_block{
        overflow: hidden;
    }
    
    .yacht_avatar:hover{
        transform: scale(1.1, 1.1);
        transition: transform 1.5s ease-out;
    }
    
    .upper_yachts_block{
        width: 300px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .recommended_yacht_card .yacht_text_block{
        display: none;
    }

    .recommended_yacht_text_block_for_mobile{
        display: block;
    }

    .yacht_avatar_block{
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    #avatar_block_of_taiwan{
        display: flex;
        justify-content: start;
    }

    .yacht_avatar{
        height: 100%;
    }
    
    .recommended_yacht_title{
        color: #135589;
        line-height: 3px;
    }
    
    .recommended_yacht_passengers_block{
        color: black;
        position: absolute;
        right: 0;
        bottom: 60px;
    }
    
    .rightside_yachts_block{
        display: none;
    }

    .downer_yachts_block{
        width: 300px;
        margin: auto;
        margin-top: 100px;
    }
    
    .yacht_card, .recommended_yacht_card{
        font-size: 16px;
        width: 300px;
        height: 260px;
        text-align: left;
        line-height: 8px;
        position: relative;
        margin: auto;
    }

    .yacht_card{
        margin-bottom: 80px;
    }
    
    .yacht_text_block,
    .recommended_yacht_text_block_for_mobile{
        position: relative;
    }
    
    .yacht_title{
        color: #135589;
    }
    
    .yacht_tags{
        color: #979797;
    }
    
    .yacht_passengers_block{
        position: absolute;
        top: -3px;
        right: 3px;
    }

}