@media(min-width:768px){
    .cover{
        height: 300px;
    }
}


@media(max-width:767px){
    .cover{
        height: 200px;
    }
}

.cover{
    background-image: url(../../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: auto;
    font-size: 0;
    overflow: hidden;
}

.topic{
    font-size: 42px;
    color: #152A69;
    text-align: center;
}

.breadcrumb{
    width: 220px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    margin: auto;
    margin-top: -35px;
    text-align: center;
    line-height: 33px;
    margin-bottom: 75px;
}

.breadcrumb a{
    text-decoration: none;
    color: black;
}