@media (min-width:768px){
    .footer{
        height: 410px;
        background-color: #446DA3;
        text-align: center;
    }
    
    .sub_logo{
        margin-top: 60px;
        margin-bottom: 5px;
    }
    
    .social_platform a{
        margin: 20px 10px;
    }
    
    .address{
        font-size: 24px;
        font-family: 'Noto Sans TC';
        color: #ffffff;
        line-height: 60px;
    }
    
    .contact_us div{
        display: inline-block;
        line-height: 40px;
        font-family: 'Noto Sans TC';
    }
    
    .email, .phone_number{
        font-size: 18px;
        font-family: 'Noto Sans TC';
        color: #ffffff;
        vertical-align: top;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    .copy_right{
        color: #ffffff;
        font-size: 20px;
        font-family: 'Noto Sans TC';
        margin-top: 40px;
    }
}

@media (max-width:767px){
    .footer{
        border: 1px solid red;
        height: 410px;
        background-color: #446DA3;
        text-align: center;
    }
    
    .sub_logo{
        margin-top: 60px;
        margin-bottom: 5px;
    }
    
    .social_platform a{
        margin: 20px 10px;
    }
    
    .address{
        font-size: 24px;
        font-family: 'Noto Sans TC';
        color: #ffffff;
        line-height: 60px;
    }
    
    .contact_us div{
        display: inline-block;
        line-height: 40px;
        font-family: 'Noto Sans TC';
    }
    
    .email, .phone_number{
        font-size: 18px;
        font-family: 'Noto Sans TC';
        color: #ffffff;
        vertical-align: top;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    .copy_right{
        color: #ffffff;
        font-size: 20px;
        font-family: 'Noto Sans TC';
        margin-top: 40px;
    }
}