@media (min-width:768px){
    header{
        background-color: #189EBB;
        min-width: 1200px;
        position: relative;
        font-family: 'Noto Sans TC';
        font-size: 0;
    }
    
    .top_bar{
        width: 100%;
        height: 100px;
    }
    
    img.logo{
        width: 84px;
        height: 90px;
        margin-top: 5px;
        margin-left: 30px;
    }
    
    .sub_nav_bar{
        width: 200px;
        height: 33.75px;
        box-sizing: border-box;
        position: absolute;
        right: 0%;
        top: 15%;
    }
    
    .sub_nav_bar a{
        margin: 0px 15px;
    }
    
    .nav_bar{
        background-color: #446DA3;
        min-width: 1200px;
        height: 75px;
        text-align: center;
        padding: 17px;
        box-sizing: border-box;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    
    .nav_bar a{
        font-size: 28px;
        font-family: 'Noto Sans TC';
        color: #ffffff;
        text-decoration: none;
        padding: 0px 10px;
        margin: 0px 23.5px;
    }
    
    .present_part{
        padding-bottom: 0px;
        border-bottom: 4px solid #152A69;
    } 
    
    .nav_bar a:hover{
        background-color: #152A69;
    }

    .hamburger_menu{
      display: none;
    }
}

@media (max-width:767px){

    .header{
        width: 100%;
        position: sticky;
        z-index: 7;
    }

    .top_bar{
        height: 50px;
        position: relative;
        background-color: #189EBB;
        text-align: center;
    }
    
    .logo{
        width: 42px;
        height: 45px;
    }

    .sub_nav_bar{
      position: absolute;
      right: 0px;
      top: 5px;
      padding: 8px 10px;
    }

    .sub_nav_bar img{
        width: 20px;
        margin: 0px 5px;
    }

    .nav_bar{
        display: none;
    }

    /* 漢堡選單開始 */
    #menu_toggle {
        opacity: 0;
      }
      
      #menu_toggle:checked ~ .menu_btn > span {
        transform: rotate(45deg);
      }
      #menu_toggle:checked ~ .menu_btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu_toggle:checked ~ .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu_toggle:checked ~ .menu_box {
        visibility: visible;
        left: 0;
      }
      
      .menu_btn {
        display: flex;
        align-items: center;
        /* position: fixed; */
        position: absolute;
        top: 10px;
        left: 15px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 10;
      }
      
      .menu_btn > span,
      .menu_btn > span::before,
      .menu_btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        /* background-color: #616161; */
        background-color: white;
      
        transition-duration: .25s;
      }
      .menu_btn > span::before {
        content: '';
        top: -8px;
      }
      .menu_btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        /* width: 300px; */
        width: 100%;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
        text-align: center;
      
        background-color: #446DA3;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;

        z-index: 9;
      }
      
      .menu_item {
        display: block;
        padding: 12px 24px;
      
        color: white;
      
        font-family: 'Noto Sans TC';
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu_item:hover {
        background-color: #CFD8DC;
      }
      /* 漢堡選單結束 */


}